[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

header {
    margin-bottom: 20px;
    background-color: cadetblue;
}

    header .navbar-brand {
        font-size: 2em;
        font-weight: 500;
        color: white;
    }

        header .navbar-brand:hover {
            text-decoration: none;
        }

.island {
    margin-bottom: 15px;
    padding: 15px;
}

.island .row {
    margin-bottom: 10px;
}

.footer {
    background-color: #ddd;
    color: #999; 
}

.footer .notification-text {
    padding: 10px 0;
    margin: 0;
}
